body{
    background-color: #302f10;
    background-image: url("./imgs/105845251_1024.jpg")
    ;

}
p{
    color: #17a79f;    
    font-size: 20px;
    line-height: 1.5;
    font-family: 'times new roman', serif;
    }


